@*@model IEnumerable<u19253738_HW3.Models.FileModel>*@
@using u19253738_HW3.Models
@model List<FileModel>

@{
    ViewBag.Title = "Index";
}

<h1>Documents of any file type</h1>
<h4>
    ............"/Media/Documents/" folder
</h4>


<table class="table">
    <tr style="background-color:black; color:white">
        <th>
            File Name
        </th>
        <th>Download Option</th>
        <th>Delete Option</th>
    </tr>

    @foreach (FileModel file in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>*@
            <td>
                @file.FileName
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    @Html.ActionLink("Download", "DownloadFile",
                         new { fileName = file.FileName })
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    @Html.ActionLink("DELETE", "DeleteFile",
                      new { fileName = file.FileName },
                      new { onclick = "return confirm('Are you sure you wish to delete this?');" })
                </button>
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
